.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2c);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.header__navbar-item {
    display: flex;
    align-items: center;
    margin: 0 8px;
    position: relative;
}

#navbar-sign-in,
#navbar-sign-up {
    display: none;
    /* display: flex; */
}

#navbar-user {
    /* display: none; */
    display: flex;
}

.header__navbar-user {
    position: relative;
    cursor: pointer;
}

.header__navbar-user-avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
}

.header__navbar-user-menu::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    left: 0;
    top: -10px;
}

.header__navbar-user-menu::before {
    position: absolute;
    right: 12%;
    bottom: 100%;
    content: "";
    border-style: solid;
    border-width: 10px 20px;
    border-color: transparent transparent var(--white-color) transparent;
    z-index: 0;
}

.header__navbar-user-menu {
    display: none;
    position: absolute;
    padding-left: 0;
    padding-top: 4px;
    top: calc(100% + 10px);
    right: 0;
    background: var(--white-color);
    box-shadow: 0 0 3px #ddd;
    border-radius: 2px;
    width: 150px;
    list-style: none;
    z-index: 1;
    cursor: default;
}

.header__navbar-user-menu-item:hover {
    background-color: #eee;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
    animation: fadeIn ease 0.3s, growUp ease 0.3s;
    --grow-from: 70%;
    --grown-to: 100%;
    transform-origin: 80% 0;
}

.header__navbar-user-menu-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-menu-item a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    padding: 6px 12px;
}

.header__navbar-item,
.header__navbar-item-link {
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item-link i {
    margin-left: 4px;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item-link--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: #fb9086;
    top: 40%;
    transform: translateY(-50%);
    right: -8px;
}

.header__navbar-title--no-pointer {
    color: var(--white-color);
    cursor: default;
}

/* Header QR code */

.header__qr {
    display: none;
    background-color: var(--white-color);
    width: 200px;
    position: absolute;
    left: 4px;
    top: calc(100% + 10px);
    padding: 8px;
    border-radius: 2px;
    z-index: 2;
}

.header__qr::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    left: 0;
    top: -10px;
}

.header__qr-img {
    width: 100%;
}

.header__app-download {
    display: flex;
    justify-content: space-between;
}

.header__app-download-link:first-child {
    margin-left: 12px;
}

.header__app-download-link + .header__app-download-link {
    margin-right: 12px;
}

.header__app-download-img {
    height: 16px;
}

#header__navbar-item--qr-display:hover .header__qr {
    display: block;
    /* animation: appearEase ease 0.3s; */
    animation: fadeIn ease 0.3s, slideDown ease 0.3s;
}

.header__notify {
    display: none;
    width: 400px;
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    box-shadow: 0 0 3px 1px #d3d3d3;
    background-color: var(--white-color);
}

.header__notify::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    left: 0;
    top: -10px;
}

.header__notify::before {
    position: absolute;
    right: 12px;
    bottom: 100%;
    content: "";
    border-style: solid;
    border-width: 10px 20px;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__notify-heading {
}

.header__notify-heading h3 {
    font-size: 1.5rem;
    color: var(--text-pale);
    padding: 0 16px;
}

.header__notify-list {
    padding-left: unset;
    list-style: none;
}

.header__notify-item {
    overflow: hidden;
}

.header__notify-link {
    display: flex;
    text-decoration: none;
    color: var(--text-color);
    background-color: #f1f1f1;
}

.header__notify-img {
    width: 70px;
    object-fit: contain;
    padding: 8px;
}

.header__notify-content {
}

.header__notify-title {
    white-space: nowrap;
    width: 330px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 1.4rem;
}

.header__notify-des {
    white-space: nowrap;
    width: 330px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2rem;
}

.header__notify-link:hover {
    background-color: rgba(241, 241, 241, 0.3);
}

.header__notify-link--visited {
    background-color: var(--primary-color-pale);
}

.header__notify-btn {
    display: flex;
    justify-content: center;
    height: 30px;
}

.header__notify-btn a {
    text-decoration: none;
    color: var(--text-color);
    opacity: 0.8;
    font-weight: 500;
    margin: auto;
    padding: 8px;
}

.header__notify-btn a:hover {
    opacity: 1;
}

.header__notify-btn a:active {
    opacity: 0.9;
}

#notification-btn:hover .header__notify {
    display: block;
    z-index: 2;
    animation: fadeIn ease 0.2s, growUp ease 0.2s;
    will-change: opacity, transform;
    transform-origin: calc(100% - 20px) top;
    --grow-from: 0%;
    --grow-to: 100%;
}

/* Authen modal */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 3px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form {
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 20px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__control {
    margin-top: 80px;
}

.auth-form__control {
    display: flex;
    justify-content: flex-end;
}

.auth-form__control-back {
    margin-right: 8px;
}

.auth-form__control-back:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.auth-form__social-link {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 16px 24px;
    margin-top: 16px;
}

.btn--with-icon {
    flex: 1;
    margin: 0 8px;
    position: relative;
}

.auth-form__social-icon {
    font-size: 1.8rem;
    position: absolute;
    left: 10px;
}

.auth-form__social--facebook {
    background-color: #3a5a98;
    color: var(--white-color);
}

.auth-form__social--facebook .auth-form__social-icon {
    color: var(--white-color);
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
}

.auth-form__help-separate {
    border-left: 2px solid var(--border-color);
    margin: 0 8px;
}
.modal {
    display: none;
}
.sign-up-modal {
    display: none;
}
.sign-in-modal {
    display: none;
}

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}

.header__logo {
    width: 200px;
    padding-left: 8px;
}

.header__logo .header__logo-img {
    width: 150px;
    color: var(--white-color);
}

.header__search {
    background-color: var(--white-color);
    height: 40px;
    border-radius: 2px;
    flex: 1;
}

.header__cart {
    width: 88px;
    height: 40px;
    margin: 0 28px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
    line-height: 100%;
}

.header__cart-quantity {
    position: absolute;
    top: -4px;
    right: 22px;
    padding: 1px 6px;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
}

.header__cart-list {
    cursor: default;
    display: none;
    position: absolute;
    min-height: 40px;
    top: calc(100% + 4px);
    right: 0;
    width: 400px;
    background-color: var(--white-color);
    box-shadow: 0 0 3px #ddd;
    z-index: 1;
}

.header__cart-list::before {
    content: "";
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    top: -4px;
}

.header__cart-list::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 100%;
    right: 22px;
    border-style: solid;
    border-width: 10px 20px;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__cart:hover .header__cart-list {
    display: block;
    animation: fadeIn ease 0.3s, growUp ease 0.3s;
    --grow-from: 70%;
    --grow-to: 100%;
    transform-origin: 90% 0;
}

.header__cart-empty-cart-img {
    display: none;
    width: 50%;
}

.header__cart-empty-cart-text {
    display: none;
    font-size: 1.5rem;
    color: var(--text-color);
}

.header__cart-list--empty .header__cart-empty-cart-img,
.header__cart-list--empty .header__cart-empty-cart-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__search {
    display: flex;
    align-items: center;
}

.header__search-input-wrapper {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.header__search-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
    animation: fadeIn ease 0.3s;
}

.header__search-history {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0 0 3px #ddd;
    margin-top: 4px;
    border-radius: 2px;
    overflow: hidden;
    z-index: 1;
}

.header__search-history-heading {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 8px;
    color: var(--text-pale);
}

.header__search-history-list {
    list-style: none;
    padding: unset;
    margin: unset;
    font-size: 1.2rem;
}

.header__search-history-item {
    padding: 8px 8px;
    cursor: default;
}

.header__search-history-item:hover {
    background-color: #eee;
}

.header__search-selection {
    padding: 8px;
    border-left: 1px solid var(--border-color);
    position: relative;
    font-size: 1.4rem;
    color: var(--text-color);
    cursor: default;
}

.header__search-select-icon {
    margin-left: 4px;
    position: relative;
    top: 1px;
}

.header__search-btn {
    border: none;
    outline: none;
    background-color: var(--primary-color);
    padding: 0 24px;
    margin-right: 8px;
    line-height: 3;
    cursor: pointer;
    border-radius: 2px;
}

.header__search-btn:hover {
    opacity: 0.8;
}

.header__search-btn-icon {
    font-size: 1.2rem;
    color: var(--white-color);
}

.header__search-selection:hover .header__search-option {
    display: block;
    animation: fadeIn ease 0.3s;
}

.header__search-option::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 8px;
    top: -8px;
}

.header__search-option {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    list-style: none;
    width: 120px;
    box-shadow: 0 0 3px #ddd;
    border-radius: 2px;
    padding: 0;
    margin: 8px 0;
    z-index: 1;
}

.header__search-option-item {
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.header__search-option-item:hover {
    background-color: #eee;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.3rem;
    color: var(--text-color);
}

.header__search-option-item i {
    display: none;
    font-size: 1.3rem;
    color: var(--primary-color);
}

.header__search-option-item-selected i {
    display: inline-block;
}

.header__cart-list-item {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-y: scroll;
    max-height: 30vh;
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}

.header__cart-item {
    display: flex;
}

.header__cart-item:hover {
    background-color: rgb(245, 245, 245);
}

.header__cart-img {
    width: 44px;
    height: 42px;
    margin: 12px;
    border: 1px solid var(--border-color);
}

.header__cart-item-info {
    width: 100%;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 12px;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 8px 0;
    flex: 1;
    text-align: left;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.header__cart-item-price-wrap {
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    color: var(--text-color);
    font-size: 0.9rem;
    margin: 0 4px;
}

.header__cart-item-quantity {
    color: var(--text-color);
    font-size: 1.2rem;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    margin: 8px 12px 8px 0;
}

.header__cart-item-description {
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 300;
}

.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 300;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-show-item {
    float: right;
    margin: 12px;
}

/* wrapper__container */
.wrapper__container {
    background-color: var(--container-background);
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    font-size: 1.6rem;
    color: var(--text-color);
    margin: 0;
    padding: 12px 16px;
    border-bottom: 1px solid var(--border-color);
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list {
    padding-left: 0;
    list-style: none;
    padding-bottom: 16px;
    margin-left: 14px;
}

.category-item {
    position: relative;
}

.category-item::after {
    content: "";
    display: block;
    position: absolute;
    border-top: 1px solid var(--border-color);
    top: 100%;
    left: 10%;
    right: 10%;
}
.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50% - 1px));
    left: 4px;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link {
    position: relative;
    display: block;
    font-size: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 12px 16px;
    right: 0;
    transition: linear 0.1s;
}
.category-item__link:hover {
    color: var(--primary-color);
    right: -4px;
}

/* filter */
.home-filter {
    display: flex;
    align-items: center;
    background-color: var(--home-filter-background);
    padding: 12px 24px;
    border-radius: 2px;
}

.home-filter__label {
    color: var(--text-color);
    font-size: 1.4rem;
    margin-right: 12px;
}

.home-filter__btn {
    min-width: 90px;
    margin-right: 8px;
}

.select-input {
    font-size: 1.4rem;
    min-width: 200px;
    position: relative;
}

.select-input:hover .select-input__list {
    display: block;
    animation: fadeIn ease 0.3s, slideDown ease 0.3s;
}

.select-input__list {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: 4px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 4px 0 0 0;
    list-style: none;
    z-index: 1;
}

.select-input__item a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: var(--text-color);
}

.select-input__item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.select-input__item a:hover {
    color: var(--primary-color);
}

.select-input__list::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 100%;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 1.4rem;
}

.home-filter__page-number {
    margin: 0 8px;
    color: var(--text-color);
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    display: flex;
    border-radius: 2px;
    overflow: hidden;
}

.home-filter-page-btn {
    display: flex;
    width: 36px;
    height: 36px;
    background-color: var(--white-color);
    color: var(--text-color);
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.home-filter-page-btn:first-child {
    border-right: 1px solid var(--border-color);
}

.home-filter-page-btn:hover {
    background-color: rgb(245, 245, 245);
}

.home-filter-page-btn--disabled,
.home-filter-page-btn--disabled:hover {
    background-color: #f9f9f9;
    color: var(--text-pale);
    cursor: default;
}

/* product item */
.home-product-item {
    margin-top: 10px;
    background-color: var(--white-color);
    position: relative;
    top: 0;
    transition: top linear 0.1s;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.home-product-item:hover {
    top: -2px;
    transition: top linear 0.1s;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price--old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
}

.home-product-item__price--current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
    margin-left: 4px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.home-product-item__like {
    font-size: 1.4rem;
}

.home-product-item__like-icon--liked {
    display: none;
    color: red;
}

.home-product-item__like--liked .home-product-item__like-icon {
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon--liked {
    display: inline;
}

.home-product-item__rating {
    font-size: 0.8rem;
    color: #d3d3d3;
    margin-left: auto;
}

.home-product-item__sold {
    color: var(--text-color);
    margin-left: 4px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-size: 1.2rem;
    color: var(--text-color);
    opacity: 0.8;
}

.home-product-item__rating--gold {
    color: #ffbb00;
}

.home-product-item__favorite {
    position: absolute;
    top: 10px;
    left: -4px;
    padding: 4px;
    line-height: 0;
    color: var(--primary-color);
    background-color: currentColor;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.home-product-item__favorite span,
.home-product-item__favorite i {
    color: var(--white-color);
}

.home-product-item__favorite::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    border-top: currentColor 4px solid;
    border-left: transparent 4px solid;
    filter: brightness(50%);
}

.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background-color: #ffd000;
    display: flex;
    flex-direction: column;
}

.home-product-item__sale-off::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-width: 0 20px 8px 20px;
    border-style: solid;
    border-color: #ffd000 #ffd000 transparent #ffd000;
}

.home-product-item__sale-off span {
    margin: auto;
    font-size: 1.3rem;
    font-weight: 600;
}

.home-product-item__sale-off span:first-child {
    color: var(--primary-color);
}

.home-product-item__sale-off span:last-child {
    color: var(--white-color);
}

.pagination {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.pagination-item a {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--text-color);
    margin: 12px;
    padding: 4px 12px;
}

.pagination__link--current {
    background-color: var(--primary-color);
    color: var(--white-color) !important;
}

.pagination-home-product {
    margin: 40px 0;
}

.footer__heading {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-top: 40px;
}

.footer__list {
    list-style: none;
    padding: 0;
}

.footer-item {
    font-size: 1.4rem;
}

.footer-item__link {
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    margin: 8px 0;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    padding: 4px;
    width: 50%;
}

.footer__download-apps {
    padding: 4px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer__download-apps {
    cursor: pointer;
}

.footer__download-app-img {
    width: 100%;
}

.footer__copyright::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
    border-top: 1px solid var(--border-color);
}

.footer__copyright {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    color: var(--text-pale);
    font-style: italic;
    padding: 20px 0;
}
